.arrowtxt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 41px;
  margin-left: 10px;
  margin-bottom: 62px;
}
.filter-txt {
  

p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-left: 22px;
}
}
.filter-list {
text-align: left;
margin-left: 50px;
}

