.arrowtxt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 41px;
  margin-left: 10px;
  margin-bottom: 62px;
}
.filter-txt {
  p {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-left: 22px;
  }
}
.filter-list {
  text-align: left;
  margin-left: 50px;
  margin-bottom: 30px;
}
.form-group-btn {
  display: flex;
  justify-content: center;
}
.btnfiltros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 36px;
  left: 127px;
  top: 410px;
  background: #628f22;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  color: white;
  margin-bottom: 80px;
  margin-left: 127px;
}
.txt-icon-ingredient {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: grey;
  // text-align: center;
}
