.cardreceta {
  border-radius: 5px;
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 50%);
  margin: 0 20px 30px 20px;
  &-txt-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 5px;
  }
  &-imgrcp {
    &-img {
      width: 374px;
      height: 192px;
      border-radius: 10px 10px 0 0;
      margin-bottom: 10px;

    }
  }
  span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 10px;
   
  }
  &-dificultad {
    margin-bottom: 16px;
  }
  &-time {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.time-difficulty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}
.cardreceta-tiempo {
  margin-left: 7px;
}
