.cardreceta {
  border-radius: 5px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 50%);
  margin: 0 20px 30px 20px;
  padding: 0 10px;
  &-txt-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    // margin-bottom: 18px;
  }
  &-imgrcp {
    &-img {
      width: 363px;
      height: 192px;
      border-radius: 10px 10px 0px 0px;
    }

  }
  p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }
  &-dificultad {
    margin-bottom: 16px;
  }
  &-time {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.time-difficulty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}
