.navmenu-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}
.navbar-div {
  background-color: none;
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.15);

  &-logo {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
    margin-left: 102px;
  }
}

.menu-bars {
  margin-left: 15px;
  font-size: 17px;
  background: none;
  width: 32px;
  height: 32px;
  text-decoration: underline;
}

.nav-menu {
  background-color: none;
  width: 380px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -150%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  background-color: white;
}

.nav-text {
margin-bottom: 20px;
}

.nav-text a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-menu-items {
 
}

.navbar-toggle {
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hamb {
  margin-left: 16px;
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;

  letter-spacing: 0.1px;
  color: #333333;
  
}
.logohmb-hmb {
  width: 90%;
  margin-left: 15px;
  margin-bottom: 48px;

}
.logohmb-close {
  width: 10%;
  margin-left: 275px;
  margin-top: 22px;
  position: fixed;
    top: 0;
}


.container-menu-hamb {
  margin-top: 86px;
}
