.yellowcontainer {

    &-icons {
      display: flex;
      justify-content: space-evenly;
  
      &-bckg {
        padding: 10px;
        background: white;
        height: 83px;
        width: 83px;
        border-radius: 50%;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
        margin-bottom: 76px;
        .txt-icon {
          font-family: Libre Baskerville;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.1px;
          color: grey;
        
      
        }
        
      }
  
      &-img {
        width: 85%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
      }
  
    }
    
  }

