.searchinput-container {
  padding: 0 0 12px 0;
}
.inputsearch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 31px 20px 71px 55px;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 15%);
  border-radius: 20px;
  width: 275px;
  height: 43px;
}
.input-lupa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inputsearch-input-inpt {
  border: none;
  outline: none;
  height: 35px;
}
::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
}
.inputsearch-img button {
  background-color: transparent;
  .inputsearch-img-imagen2 {
    margin-right: 10px;
  }
}
.inputsearch-btn {
  border: none;
  outline: none !important;
  background: transparent;
}
.inputsearch-txt-texto {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 53px;
}
.inputsearch-ensaladera {
  margin-bottom: 90px;
}
.inputsearch-ensaladera-img {
  width: 200px;
  display: block;
  margin: auto;
}
.yellowcontainer2 {
  width: 100%;
  background: #f2c11f;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  &-txt {
    &-texto {
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
    }
  }
  &-icons {
    display: flex;
    justify-content: space-evenly;

    &-bckg {
      padding: 10px;
      background: white;
      height: 83px;
      width: 83px;
      border-radius: 50%;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
      margin-bottom: 40px;
    }

    &-img {
      width: 85%;
      display: block;
      margin: auto;
    }
  }
}
// iconos ingredientes
.yellowcontainer-slc {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.yellowcontainer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &-icons {
    &-bckg-ingredients {
      padding: 10px;
      background: white;
      height: 83px;
      width: 83px;
      border-radius: 50%;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
      margin-bottom: 80px;
      margin-left: 12px;
      .txt-icon-ingredient {
        font-family: Libre Baskerville;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: grey;
        text-align: center;
      }
    }

    &-img {
      width: 85%;
      display: block;
      margin: auto;
      margin-bottom: 16px;
    }
  }
}
.filter-aspa {
  display: flex;
  align-items: flex-end;

  .first {
    width: 26px;
  }
  .second {
    width: 26px;
    margin-bottom: -37px;
  }
}
