.cardreceta {
  border-radius: 5px;
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 50%);
  margin: 0 20px 30px 20px;
  &-txt-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-imgrcp {
    &-img {
      width: 374px;
      height: 192px;
      border-radius: 10px 10px 0 0;
    }
  }
  span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }
}
